/* body*/
.body {
        font-family: 'Roboto',sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}

/*reset*/
ul, ol {
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
}
img {
        display: block;
}
a {
        text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}

/*container*/
.container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
}

/* header*/
.page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
        display: flex;
        align-items: center;
}
.header-nav {
        display: flex;
        align-items: center;
}
.nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
}
/*header logo*/
.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo {
        margin-right: 76px;
        padding: 24px 0;
}
.studio {
        color:#2e2f42;
}
/*header navigation*/
.contact-list{
        display: flex;
        align-items: center;
        gap: 40px;
}
.menu-nav.current {
        position: relative;
        color: #404bbf;
}
.menu-nav.current::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
}
.menu-nav {
        display: block;
        padding: 24px 0;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav:hover, .menu-nav:focus {
        color: #404BBF;
}
.adress {
        font-style: normal;
        margin-left: auto;
}
.adress-nav {
        display: block;
        padding: 24px 0;
        font-family: Roboto;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-nav:hover, .adress-nav:focus {
        color: #404bbf;
}
/*end header*/

/*section1*/
.section {
        padding: 188px 0;
        background-color: #2e2f42;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
}
.section-main {
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        
}
.section-button {
        font-family: Roboto,sans-serif;
        background-color: #4D5AE5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        border-radius: 4px;
        height: 56px;
        border: none;
        margin: 0 auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-button:hover, .section-button:focus {
        background-color:#404BBF;
}
/*end section1*/

/*section 2*/
.second-section {
        padding: 120px 0;
}
.invisible-features{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.features-ul {
        display: flex;
        gap: 24px;
}
.features-li{
        max-width: calc((100% - 72px)/4);
}
.container-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        padding: 24px 100px;
        margin: 0 auto;
        margin-bottom: 8px;
}
.feature-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}
.feature-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/*end section2*/

/*section 3*/
.our-team {
        background-color: #F4F4FD;
        padding: 120px 0;
}
.color {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);

}
.team-ul {
        display: flex;
        gap: 24px;
}
.container-team {
        padding: 32px 0;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color:#2E2F42;
        margin-bottom: 72px;
}
.team-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 8px;
}
.team-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;    
}
.social-icons {
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color:#4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover, .social-icons:focus {
        background-color: #404bbf;
}
.social-ul {
        display: flex;
        column-gap: 15px;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        gap: 24px;
}
.social-li {
        display: flex;
        align-items: center; 
        gap:24px;    
}
.icons {
        fill:#f4f4fd;
}

/*end section3*/

/*section 4*/
.portfolio {
        padding: 120px 0;
}
.portfolio-ul {
        display: flex;
        gap: 24px;
        row-gap: 48px;
        flex-wrap:wrap;
}
.portfolio-li {
        display: flex;
        flex-direction: column;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: calc((100% - 2 * 24px) / 3);
}      
.portfolio-li:hover .portfolio-cover-text {
        transform: translate(0);
}
.portfolio-li:hover {
        cursor: pointer;
        box-shadow:
                0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cover-relative {
        position: relative;
        overflow: hidden;
}
.portfolio-cover-text {
        position: absolute;
        top: 0;
        background-color: #4d5ae5;
        color:#f4f4fd;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding:40px 32px;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
}
.container-portfolio {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-section {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}
.portfolio-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
/*end section 4*/

/*footer*/
.footer .container {
        display: flex;
        align-items: baseline;

}
.footer {
        background-color:#2e2f42;
        padding: 100px 0;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}
.studio-logo {
        color: #f4f4fd;
}
.footer-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #F4F4FD;
        background-color: #2E2F42;
        max-width: 264px;
}
.social-media-footer{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 16px;
}
.icons-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover, .icons-footer:focus {
        background-color: #31D0AA;
}
        .social-footer-li {
        display: flex;
        align-items: center;
}
.footer-social-icons {
        flex-direction: column;
        margin-left: 120px;
        align-items: center;
        justify-content: center;
}
.social-footer-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
} 
.container-footer-logo {
        margin-right: 120px;
}
.send-container {
        margin-left: 80px;
}
.form-footer {
        display: flex;
        gap: 24px;

}
.input-footer {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;

}
.button-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border:none;
        font-weight: 500;
        letter-spacing: 0.04em;
        font-size: 16px;
        line-height: 1.5;
        cursor:pointer;
        background-color: #4d5ae5;
        border-color: transparent;
        color:#ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button-svg:hover,
.button-svg:focus {
        background-color: #404bbf;
}
.footer-subscribe-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom:16px;
}
.button-icon {
        margin-left: 16px;
        fill:#ffffff;
}

/*end footer*/

/*backdrop*/

.backdrop {
        position:fixed;
        top: 0;
        left: 0;
        width:100%;
        z-index: 9999;
        height:100%;
        background-color: rgba(46, 47, 66, 0.4);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.model {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        position:absolute;
        top:50%;
        left:50%;
        border-radius: 4px;
        min-height: 584px;
        transform:translate(-50%, -50%);
        padding-left: 24px ;
        padding-top: 72px;
        padding-right: 24px;
        padding-bottom: 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
}
.model-class-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border:1px solid #e7e9fc;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 0; 
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-class-btn:hover,
.model-class-btn:focus {
        border:none;
        background-color: #404bbf;
}
.model-class-btn:hover > .close-icon,
.model-class-btn:focus > .close-icon {
        fill: #fff;
}
.model-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        width: 360px;
        margin-bottom: 16px;
}
 .form-wrapper-cont {
        margin-bottom: 8px;
 }
.model-form-label {

        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;

}
.model-cont-input {
        position: relative;
}
.model-input {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        height: 40px;
        width: 100%;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.model-input:focus,
.model-input:hover {
        border-color:#4d5ae5;

}
.model-icon {
        position: absolute;
        top:50%;
        left: 16px;;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input:focus+.model-icon {
        fill: #4d5ae5;
}
.form-wrapper-cont-comment {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        margin-bottom: 16px;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.model-textarea {
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        width: 100%;
        height: 120px;
        padding: 8px 16px;
        resize: none;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-textarea::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4)
}
.model-textarea:focus {
        border-color: #4d5ae5;
}
.model-cont-checkbox {
        margin-bottom: 24px;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.form-wrapper-cont-comment{
        margin-bottom: 16px;
}
.custom-checkbox {
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        width: 16px;
        height: 16px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .custom-label-user-checkbox > .custom-checkbox {
        border-color: transparent;
        background-color: #404bbf;
        border: none;
        fill:#F4F4FD;
}
.custom-label-user-checkbox {
        cursor: pointer;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.privacy-policy {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.model-submit {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        background-color:#4d5ae5;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border:none;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* end backdrop*/