.hidden {
    display: none;
}
/* body*/
.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*reset*/
ul,
ol {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
button {
    cursor: pointer;
}
.invisible-features {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding:0 16px;
    margin: 0 auto;
}

.section {
    padding-top: 72px;
    padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-list,
.adress {
    display: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo {
    padding: 16px 0;
    display: block;
}

.studio {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    fill: #2f2f37;
    display: block;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display:none;
    }  
    .header-nav {
        display: flex;
        align-items: center;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }
    .logo {
        padding: 24px 0;
        margin-right: 120px;
}
    .adress {
        font-style: normal;
        display:block
    }

    .menu-nav.current {
        position: relative;
        color: #404bbf;
    }
    .menu-nav.current::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    .menu-nav {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 24px 0;
    }

    .menu-nav:hover,
    .menu-nav:focus {
        color: #404BBF;
    }
    .contact-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
.adress-nav {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    .contact-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .adress-nav {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile-menu */

.mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: #ffffff;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
        position: absolute;
        width: 320px;
        max-height: 640px;
        padding: 72px 24px 40px 16px;
}

.mobile-menu.is-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
}

.mobile-menu .mobile-menu-close {
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .mobile-menu-close:hover,
.mobile-menu .mobile-menu-close:focus {
        background-color: #404bbf;
        border: none;
}

.mobile-close-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover > .mobile-close-icon,
.mobile-menu-close:focus > .mobile-close-icon {
    fill: #ffffff;
}

.mobile-menu-nav .mobile-menu-li {
        color: #2e2f42;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav .mobile-menu-li:hover,
.mobile-menu-nav .mobile-menu-li:focus {
    color: #404bbf;
}

.mobile-menu-navstudio {
    position: relative;
    color: #404bbf;

}

.mobile-menu-ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 168px;
}

.mobile-adress {
    font-style: normal;
}

.mobile-adress .mobile-menu-li {
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-adress .mobile-menu-li:hover,
.mobile-adress .mobile-menu-li:focus {
    color: #404bbf;
}
.mobile-adress-ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin-bottom: 48px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.social-ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.social-li .social-icons{
        display: flex;
        fill: #f4f4fd;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li .social-icons:hover,
.social-li .social-icons:focus {
    background-color: #404bbf;
}

/* section1 */

.hero.section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .section-main {
        color: #ffffff;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        max-width: 216px;
        margin: 0 auto 72px auto;
        text-align: center;
        display: block;
}

.hero .section-button {
        font-family: 'Roboto', sans-serif;
        background-color: #4d5ae5;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        padding: 16px 32px;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .section-button:hover,
.hero .section-button:focus {
        background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    
    .hero.section {
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero .section-main {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px auto;
    }
}

@media screen and (min-width: 1158px) {

    .hero.section {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }

    .hero .section-main {
        margin: 0 auto 48px auto;
    }
}

/* section 2 Features */

.features-ul .feature-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.features-ul .feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.invisible-features {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
}
.features-li .feature-section {
    margin-bottom: 8px;
}
.features-li {
    width: calc((100% - 0 * 72px) / 1);
}
.container-icons {
    display: none;
}

@media screen and (min-width: 768px) {

    
    .features-ul .feature-section {
        text-align: start;
    }
    .features-ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
    .features-li {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .second-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-ul .feature-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .features-ul .feature-text {
        font-weight: 400;
        }
    .features-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .features-li {
        width: calc((100% - 3 * 24px) / 4);
    }
    .container-icons {
        display: flex;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
        padding: 24px 100px;
        justify-content: center;
        align-items: center;
    }
}

/* section 3 our team */

.our-team.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-team > .container {
    padding-left: 28px;
    padding-right: 28px;
}

.our-team {
    background-color:#f4f4fd;
}

.team-ul .color {
    background-color: #FFFFFF;
}

.team {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-ul .team-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-ul .team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-ul {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.color {
    width: calc((100% - 0 * 72px) / 1);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.color .container-team {
    padding: 32px 0;
}

.social-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-li .social-icons {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li .social-icons:hover,
.social-li .social-icons:focus {
    background-color: #404bbf;
}

.icons {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .our-team > .container {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-ul {
        column-gap: 24px;
        row-gap: 72px;
    }

    .color {
        width: calc((100% - 1 * 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .our-team>.container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .team-ul {
        gap: 24px;
    }

    .color {
        width: calc((100% - 3 * 24px) / 4);
    }
}

/* section 4 portfolio */

.portfolio.section {
        padding-top: 96px;
        padding-bottom: 96px;
}

.team {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-ul .portfolio-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-ul .portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
}

.portfolio-li {
        width: calc((100% - 0 * 48px) / 1);
        display: flex;
        flex-direction: column;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.cover-relative {
        position: relative;
        overflow: hidden;
}

.portfolio-cover-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        padding: 40px 32px;
        transform: translateY(100%);
}

.overlay-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.portfolio-li .portfolio-cover-text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-li:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.cover-relative > img {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }

.portfolio-ul {
    column-gap: 24px;
    row-gap: 72px;
}

.portfolio-li {
    width: calc((100% - 1 * 24px) / 2);
}
.cover-relative>img {
    height: 300px;
}
}

@media screen and (min-width: 1158px) {
        .container {
            max-width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
}

    .portfolio.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-ul {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-li {
        width: calc((100% - 2 * 24px) / 3);
    }
}

/* footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer .studio-logo {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer .footer-logo {
    display: inline-block;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.social-footer-ul {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-li .icons-footer {
    display: flex;
    fill: #fff;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-li .icons-footer:hover,
.social-li .icons-footer:focus {
    background-color: #31d0aa;
}

.container.mainfooter {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.social-media-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.container-footer-logo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.send-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.input-footer {
    padding-left: 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.input-footer::placeholder {
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.button-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        border: none;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-svg:hover,
.button-svg:focus {
    background-color: #404bbf;
}

.button-icon {
    margin-left: 16px;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {

    
    .footer {
        padding-left: 108px;
    }
    .footer-text {
        width: 264px;
    }
    .footer .footer-logo {
        margin-left: 0;
    }
    .container.mainfooter {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        align-items: baseline;
        justify-content: flex-start;
    }
    .social-media-footer {
        text-align: start;
    }
    .send-container {
        align-items: start;
    }
    .input-footer {
        width: 264px;
    }
    .form-footer {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 156px;
    }
    .container.mainfooter {
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
        gap: 0;
        justify-content: flex-start;
    }
    .container-footer-logo {
        margin-right: 120px;
    }
    .footer-social-icons {
        margin-right: 80px;
    }
}

/* Backdrop */

.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 288px;
        min-height: 623px;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
        padding: 72px 16px 16px 16px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
}

.model-class-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-class-btn:hover,
.model-class-btn:focus {
        background-color: #404bbf;
        border: none;
}

.model-class-btn:hover > .close-icon,
.model-class-btn:focus > .close-icon {
    fill: #ffffff;
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.model-form-label {
        display: block;
        flex-direction: column;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.model-text {
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 16px;
}

.model-submit {
        min-width: 169px;
        height: 56px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding: 16px 32px;
        color: #ffffff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-submit:hover,
.model-submit:focus {
        background-color: #404bbf;
}

.model-input {
        width: 256px;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-textarea {
        background-color: transparent;
        outline: transparent;
        height: 120px;
        padding: 8px 16px;
        resize: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.model-input::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.model-cont-checkbox {
        display: flex;
        margin-top: 16px;
        align-items: center;
}

.custom-label-user-checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.privacy-policy {
        line-height: 1.33;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}

.label-text {
    width: 231px;
}

.custom-checkbox {
        fill: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-label-user-checkbox > .custom-checkbox {
        background-color: #404bbf;
        border: none;
        fill: #f4f4fd;
}

.model-cont-input {
        position: relative;
        margin-bottom: 8px;
}

.model-icon {
        overflow: visible;
        position: absolute;
        fill: #2e2f42;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
        border-color: #4d5ae5;
}

.model-input:focus + .model-icon {
        fill: #4d5ae5;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .model {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .model-input {
        width: 360px;
    }

    .custom-label-user-checkbox {
        align-items: baseline;
    }

    .label-text {
        width: 338px;
    }
}

@media screen and (min-resolution: 192dpi) {
    .hero.section {
        background-image: linear-gradient(rgb(46, 47, 66, 0.7),
                rgb(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }
}












